:root {
  --primary-color: #60C31C;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.isHide {
  display: none !important;
}
.isFullView{
  width:100vw !important;
}

.certificateDisplay {
  width: 60%;
  flex-grow: 1;
}

svg {
  width: 100vw;
  height: 100vh;
}

.certificateEditor {
  padding: 24px;
  width: 40%;
  flex-grow:1;
  display: flex;
  flex-direction: column;
}

.certificateEditor h2 {
  margin-bottom: 32px;
}

.signature-pad-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.signature-pad {
  cursor: pointer;
  border: 2px solid #4F4F4F;
  border-radius: 4px;
}

.signature-pad-form input {
  margin-bottom: 12px;
  width: 100%;
  font-size: 20px;
  padding: 12px;
}

.submit-button {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

.submit-button.pdf{
  width: 100%;
  max-width: 400px;
  background-color: teal;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

.svgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.participantName {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
}

img {
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: auto;
}

.activitySheduleContainer {
  position: absolute;
  z-index: 2;
  top: 60%;
  font-size: 48px;
  display: flex;
  width: 100%;
  gap: 80px;
  justify-content: center;
  align-items: center;
  .activityDuration {
    min-width: 40px;
    }
  .activityDate {
    min-width: 40px;
  }
}

@media print {
  @page {
    /* IMPORTANT: Chrome sets own margins, we change these printer settings */
    margin: 0 !important;
    /* A4 */
    size: 297mm 210mm !important;
  }
}
